.page {
    width: 100%;
    height: 100%;
    position: absolute;
}

.top-tags {
    bottom: auto;
    top: 35px;
}

.tags {
    color: #e791e7;
    // opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 155px;
    font-size: 25px;
    font-family: 'JetBrains Mono Light';
}

.bottom-tag-html {
    margin-left: -20px;
}

